<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Formulário de Companhias Aéreas</title>
<!-- Compiled and minified CSS -->
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

<!-- Compiled and minified JavaScript -->
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

<style>
body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}

nav {
	background-color: darkslateblue;
}

footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	text-align: center;
}

.page-footer {
	background-color: darkslateblue;
}
</style>

</head>
<body>

	<header th:replace="fragments/padrao :: cabecalho"></header>

	<form action="salvarTipos" method="post">
		<input type="hidden" name="id" th:value="${trips?.id}" />
		<fieldset
			style="margin-left: 30%; margin-right: 50px; width: 726.5px; height: 518.625px; margin-top: 7%;">
			<legend>| Formulário de Companhias Aéreas |</legend>
			<table>
				<div class="container">
					<div class="row">
						<div class="input-field col s6">
							<input id="first_name2" type="text" class="validate" name="nome"
								th:value="${trips?.nome}" required> <label
								class="active" for="first_name2">Nome:</label> <span
								class="helper-text" data-error="Erro!!" data-success="Secesso!"></span>
						</div>
					</div>
					<div class="row">
						<div class="row">
							<div class="input-field col s12">
								<textarea id="textarea1" class="materialize-textarea validate" name="descricao"
									th:value="${trips?.descricao}" required></textarea>
								<label for="textarea1">Descrição</label><span
									class="helper-text" data-error="Erro!!" data-success="Secesso!"></span>
							</div>
						</div>
					</div>
					<div class="input-field col s6">
						<input id="first_name2" type="text" class="validate"
							name="palavrasChave" th:value="${trips?.palavrasChave}" required>
						<label class="active" for="first_name2">Palavras Chave</label> <span
							class="helper-text" data-error="Erro!!" data-success="Secesso!"></span>
					</div>

					<button class="btn waves-effect waves-light" type="submit"
						name="action">
						<i class="material-icons left">Enviar</i> <span
							class="helper-text" data-error="Erro!!" data-success="Secesso!"></span>
					</button>
				</div>
			</table>
		</fieldset>
	</form>
	<br>
	<br>
	<div th:replace="fragments/mensagem"></div>
	<footer th:replace="fragments/padrao :: rodape"></footer>
</body>
</html>