<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Lista de Tipos</title>
<!-- Compiled and minified CSS -->
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">

<!-- Compiled and minified JavaScript -->
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<style>
body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}
nav {
    background-color: darkslateblue;

}
.input-field{
	background-color: #7986cb;
}
footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}
.page-footer {

    background-color: darkslateblue;
}
</style>

</head>
<body>

<header th:replace="fragments/padrao :: cabecalhoLista"></header>

	<div class="container">
	<header th:replace="fragments/padrao :: pesquisa"></header>
		<table>
			<thead>
				<tr>
					<th>Id</th>
					<th>Nome</th>
					<th>Descrição</th>
					<th>Palavras Chave</th>
					<th>Alterar</th>
					<th>Excluir</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="tipo:${tips}">
					<td th:text="${tipo.id}"></td>
					<td th:text="${tipo.nome}"></td>
					<td th:text="${tipo.descricao}"></td>
					<td th:text="${tipo.palavrasChave}"></td>
					<td><a th:href="@{/alterarTipos(id=${tipo.id})}">Alterar</a></td>
					<td><a th:href="@{/excluirTipos(id=${tipo.id})}">Excluir</a></td>
				</tr>
			</tbody>
		</table>

		<ul class="pagination" style="padding: 400px 0px 0px;">
			<li th:class="${paginaAtual == 1 ? 'disabled' : ''}"><a
				th:href="${paginaAtual > 1 ? paginaAtual - 1 : '#'}"><i
					class="material-icons">chevron_left</i></a></li>


			<li th:each="p:${numPaginas}"
				th:class="${paginaAtual == p ? 'active' : ''}"><a
				th:href="${p}"><span th:text="${p}"></span></a></li>


			<li th:class="${paginaAtual == totalPaginas ? 'disabled' : ''}">
				<a th:href="${paginaAtual < totalPaginas ? paginaAtual + 1 : '#'}"><i
					class="material-icons">chevron_right</i></a>
			</li>
		</ul>
	</div>
	<footer th:replace="fragments/padrao :: rodape"></footer>
</body>
</html>